.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container div{
    padding: 10px;
    flex-basis: 30%;
    /* flex-basis -> width */
}

.container .d1{
    background-color: rgb(236, 161, 22);
    /* flex: 3; */
    order: 3;
}
.container .d2{
    background-color: tomato;
    /* flex: 1; */
    order: 2;
}
.container .d3{
    background-color: rgb(223, 24, 241);
    /* flex: 1; */
    order: 1;
}

