/* Set the size and background color for d1 */
.d1 {
    width: 50%;
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Set the size and background color for d2 */
  .d2 {
    width: 80%;
    height: 150px;
    background-color: red;
  }
  
  /* Set the size and background color for d3 */
  .d3 {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
  }

  .d4{
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  