#h1{
    color: blueviolet;
    background-color: yellowgreen;
    text-align: center;
}

#p1{
    color: blueviolet;
    text-transform: lowercase;
    text-transform: capitalize;
    text-indent: 25px;
    word-spacing: 5px;
    letter-spacing: 1px;
    line-height: 20px;
}